body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 8px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.container {
    width: 60%;
    margin: 60px auto;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

.btn-secondary {
    background-color: #555;
}
